.container .title {
  margin-top: 10vh;
  margin-bottom: 1em;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.container .title .title-name {
  font-family: "Playfair Display", serif;
}
.container .title .title-star {
  color: #333;
  font-family: "Playfair Display", serif;
}

.my-logo {
  position: absolute;
  z-index: -999;
  left: 51%;
  top: -15%;
  width: 2em;
  height: 2em;
  background-image: url(../assets/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .my-logo {
    position: absolute;
    z-index: -999;
    left: 53%;
    top: -15%;
    width: 2em;
    height: 2em;
    background-image: url(../assets/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.container .about .img-wrapper {
  width: 100%;
  margin-bottom: 2em;
  overflow: hidden;
}
.container .about .img-wrapper img {
  display: inline;
  height: inherit;
  opacity: 0.95;
  position: relative;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

.container .about .hello {
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  margin-bottom: 2em;
}

.container .about .paragraph {
  line-height: 1.5em;
  margin-bottom: 2em;
}

.container .about .paragraph-with-title {
  line-height: 1.5em;
  padding-top: 2em;
  margin-bottom: 2em;
}
.container .about .paragraph-with-title .p-title {
  font-size: 1.5em;
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  color: var(--gold);
  margin-bottom: 1em;
}
.container .about .paragraph-with-title ul {
  list-style: disc;
  padding-left: 1.2em;
}
