.container .hero {
  display: flex;
  align-items: center;
  min-height: 40vh;
  margin-bottom: 2em;
}
.container .hero .hero-wrapper {
  margin-top: 10vh;
}
.container .hero .my-logo {
  display: block;
  width: 5em;
  height: 5em;
  background-image: url(../assets/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 2em;
}
.container .hero .hero-name {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.container .hero .hero-info {
  font-size: 0.8em;
}
.container .hero .hero-info li {
  line-height: 2em;
  font-size: 1.1em;
}
.container .hero .hero-info li a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--green);
}
.container .hero .hero-info li a:hover {
  text-decoration: line-through;
}

.container .home .page-wrapper li {
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .container .home .page-wrapper li {
    margin-bottom: 1em;
  }
}
.container .home .page-wrapper li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--font-color);
  font-size: 7vw;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.container .home .page-wrapper li a:hover {
  color: var(--green);
  font-style: italic;
  font-size: 10vw;
}
@media (max-width: 768px) {
  .container .home .page-wrapper li a {
    font-size: 10vw;
    color: var(--green);
  }

  .container .home .page-wrapper li a:hover {
    font-style: normal;
    font-size: 10vw;
  }
}
