.container .title {
  margin-top: 10vh;
  margin-bottom: 1em;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.container .title .title-name {
  font-family: "Playfair Display", serif;
}
.container .title .title-star {
  color: #333;
  font-family: "Playfair Display", serif;
}

.my-logo {
  position: absolute;
  z-index: -999;
  left: 51%;
  top: -15%;
  width: 2em;
  height: 2em;
  background-image: url(../assets/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .my-logo {
    position: absolute;
    z-index: -999;
    left: 53%;
    top: -15%;
    width: 2em;
    height: 2em;
    background-image: url(../assets/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.projects-wrapper {
  margin-top: 10vh;
}
.project {
  display: flex;
  gap: 1em;
  margin-bottom: 4em;
}
.project .info {
  display: flex;
  flex-direction: column;
  flex: calc(33% - 1em);
}
.project:hover .info {
  color: var(--green);
}
.project .info .info-title {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.project .info .info-title::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: var(--font-color);
  margin-top: 0.5em; /* 짝대기와 텍스트 사이의 간격 */
  position: relative;
  top: -3px;
}
.project:hover .info .info-title::after {
  background-color: var(--green);
}

.project .info .type {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.project .info .year {
  font-size: 0.85em;
}

.project .img-wrapper {
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  flex: calc(67% - 1em);
}
.project .img-wrapper img {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (max-width: 768px) {
  .project .info .info-title {
    font-size: 1.15em;
  }
  .project .info .type {
    font-size: 0.75em;
  }
  .project .info .year {
    font-size: 0.7em;
  }
}
