:root {
  --green: #1e3c2f;
  --lime: #efeba7;
  --bg-black: #232426;
  --yellow: #ffda80;
}

/* 
    inter
    GlossyDisplay - english h 
    neue-haas-grotesk-text, sans-serif - english p
    Sohne
*/
