#post-info {
  border: 2px solid #333;
  padding: 20px;
  transform: scale(1);
  border-radius: 12px; /* 둥근 모서리 적용 */
  margin-top: 5%;
  margin-bottom: 1em;
  background-color: rgb(50, 51, 53);
  color: white;
}
#post-info h1 {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 10px;
}
#post-info p {
  color: #ffffffa4;
  line-height: 1.5;
  font-family: "Times New Roman", serif;
}
#post-info p.tag {
  text-transform: capitalize;
}

#content {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* 제목 스타일 */
#content h1,
#content h2,
#content h3 {
  color: #333;
  font-weight: bold;
  font-family: "SuisseIntlBold", sans-serif;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  margin-top: 1em;
}

#content h1 {
  font-size: 2em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
#content h1::before {
  content: "\f02e"; /* FontAwesome 아이콘 코드 */
  font-family: "Font Awesome 6 Free"; /* FontAwesome 폰트 적용 */
  font-weight: 900; /* FontAwesome 아이콘은 보통 900 사용 */
  margin-right: 8px; /* 아이콘과 텍스트 간격 조정 */
  font-size: 0.77em;
  color: #444;
}

#content h2 {
  color: #444;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
#content h2::before {
  content: "\f0c8";
  font-family: "Font Awesome 6 Free"; /* FontAwesome 폰트 적용 */
  margin-right: 5px; /* 아이콘과 텍스트 간격 조정 */
  font-size: 0.7em;
  color: #444;
}

#content h3 {
  color: #555;
  font-size: 1.25em;
}

/* 본문 텍스트 */
#content p {
  color: #444;
  line-height: 1.25em;
  margin-bottom: 10px;
  word-wrap: break-word; /* 긴 단어(수식 포함) 줄바꿈 */
  overflow-x: auto; /* 넘칠 경우 가로 스크롤 */
  overflow-y: hidden;
  white-space: normal; /* 기본적으로 줄바꿈 허용 */
}

/* 링크 스타일 */
#content a {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  border: 2px solid rgb(30, 31, 33);
  color: black;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#content a:hover {
  color: #eee;
  background-color: rgb(30, 31, 33);
}

/* 목록 스타일 */
#content ul,
#content ol {
  padding-left: 20px;
}

#content ul li,
#content ol li {
  margin-bottom: 10px;
  color: #333;
}

/* 코드 블록 */
#content pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 3px solid #007bff;
  overflow-x: auto;
}

/* 테이블 스타일 */
#content .table-container {
  width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  -webkit-overflow-scrolling: touch; /* 부드러운 스크롤 */
}

#content table {
  min-width: 600px;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#content th,
#content td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

#content th {
  background-color: rgb(50, 51, 53);
  color: white;
  font-weight: bold;
}

#content tr:nth-child(even) {
  background-color: #f8f8f8;
}

#content tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

#content td {
  color: #444;
}

/* 최고 성능 강조 (굵게) */
#content td strong {
  font-weight: bold;
}

/* 인용구 스타일 */
#content blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #007bff;
  color: #555;
}

/* 이미지 스타일 */
#content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
#content .img-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* 자동으로 여러 열 생성 */
  gap: 10px; /* 이미지 간의 여백 */
  overflow-x: auto; /* X축 스크롤 활성화 */
  white-space: nowrap; /* 자식 요소들이 줄바꿈 없이 한 줄로 배치되게 함 */
  padding: 10px;
}
#content .img-container img {
  max-width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
}

#content code {
  font-size: 0.8em;
  color: white;
  background-color: rgb(90, 91, 93);
  padding: 5px;
  border-radius: 5px;
}

#content #Error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

/* 작은 화면 대응 (반응형 디자인) */
@media (max-width: 768px) {
  #content {
    padding: 5px;
    padding-bottom: 10vh;
    margin: 20px auto;
  }

  #content h1 {
    font-size: 2em;
  }

  #content h2 {
    font-size: 1.75em;
  }

  #content h3 {
    font-size: 1.5em;
  }

  #content .table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; /* 테이블 내 줄바꿈 방지 */
  }
  #content table {
    min-width: 700px; /* 모바일에서 넘치도록 설정 (스크롤 유도) */
  }
}
